header {
	text-align: center;
	color: gold;
}

body {
	background: url("../images/swbg.gif");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

img {
	width: 200px;
	height: 200px;

}