header {
	text-align: center;
	color: gold;
}

body {
	background: url("../images/swbg.gif");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

img {
	width: 200px;
	height: 200px;

}

#outputLog {
	height: 350px;
	width: 100%;
	overflow-y:scroll;
}

#instructions {
	text-align: center;
}